*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-primary: white;
  --bg-secondary: black;
  --bg-input: #f7f7f7;
  --txt-primary: rgb(0, 0, 0);
  --txt-secondary: white;
  --brown: #fcaf58;
  --outline: #ababab;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  font-size: 16px;
}

.container-section {
  padding: 7em 5em 2em 5em;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.arrow {
  width: 12vw;
}

.header-section h1 {
  font-size: 3vmax;
  font-weight: var(--semibold);
  margin-left: 1em;
  margin-right: 1em;
}

.wrapper-section{
    padding: .5em 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrap-left{
    margin-right: 1em;
    width: 50%;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
}

.wrap-left .wrap-head{
    /* position: relative; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.wrap-left .head-content{
    /* display: none; */
    visibility: none;
    /* position: absolute; */
    grid-row-start: 1;
    grid-column-start: 1;
    top: 0;
    margin-bottom: 1em;
    opacity: 0;
    transition: all .5s ease-in;
}

.wrap-left .head-content.on{
    visibility: visible;
    opacity: 1;
    /* display: block; */
}

.wrap-left .head-content .head-char{
    display: flex;
    align-items: center;
}

.wrap-left .head-content .head-char .element{
    width: 5.5vw;
    margin-right: 2vw;
}

.desc h2{
    font-size: 2rem;
    font-weight: var(--semibold);
    color: var(--txt-secondary);
}

.desc .star{
    width: 10vw;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    margin-bottom: 1em;
}

.tabs .btn{
    border: 1.5px solid var(--bg-secondary);
    background-color: var(--bg-primary);
    width: 100%;
    padding-top: .4em;
    padding-bottom: .4em;
    font-size: 1rem;
    font-weight: var(--medium);
    cursor: pointer;
}

.tabs .btn.on{
    background-color: var(--bg-secondary);
    color: var(--txt-primary);
}

.tabs-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.wrap-content{
    /* display: none; */
    grid-row-start: 1;
    grid-column-start: 1;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in;
}

.wrap-content.on{
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.wrap-content .face-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.wrap-content .face-content img{
    width: 90%;
    cursor: pointer;
}

.wrap-right{
    display: grid;
    grid-template-columns: 1fr;
}

.wrap-right .char-pict{
    /* display: none; */
    grid-row-start: 1;
    grid-column-start: 1;
    opacity: 0;
    transform: translateX(40%);
    visibility: hidden;
    transition: opacity .8s ease-in, transform .5s ease-in;
}
.wrap-right .char-pict.on{
    /* display: block; */
    opacity: 1;
    transform: translateX(0%);
    visibility: visible;

}

.wrap-right .char-pict img{
    width: 43vw;
}